# SQL

### Intro

- vocab: RDBMS, Database, Database Client, DDL (Data Definition Language), DML (Data Manipulation Language)
- in CLI: `mysql -h ip.of.your.host -u your_username -p`
    - to connect use `host`, `user`, and `password` provided by your MySQL Administrator
    - Once connected: `SHOW DATABASES;`, `SELECT user, host FROM mysql.user;`, `exit`, `quit`
    - login in `login.txt file` in parent folder (CU_DS_NOTES)
- in GUI: `mysqlworkbench --query /path/to/sql/file.sql`  
    - **Look into running this command with PATH config**
    - **Look into installing mysql extension in vscode**

### Database and Tables


- `SHOW DATABASES;` List db's
- `USE db_name;` Select db
- `SELECT database();` Show current db
- `SHOW CREATE DATABASE db_name;` Find out the query used to create a database
- `SHOW TABLES;`
- `SHOW CREATE TABLE (database_name.)table_name;` (e.g. `mysql.user`)
- `DESCRIBE (database_name.)table_name;`
- [reserved words](https://dev.mysql.com/doc/refman/5.7/en/keywords.html)
- `SELECT COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE table_schema = 'db_name' AND table_name = 'table_name';`

- Data Types
    - Numeric: `INT/TINYINT (UNSIGNED)`, `FLOAT`/`DOUBLE`, `DECIMAL(len, prec)`
    - String: `CHAR(len < 255)`, `VARCHAR(len < 65,535)`, `TEXT`
    - Data: `DATE`, `TIME`, `DATETIME` `YYYY-MM-DD HH:MM:SS`
    - Null: `(NOT) NULL`
    
 - Creating Tables:
     - ```
     CREATE TABLE quotes (
            id INT UNSIGNED NOT NULL AUTO_INCREMENT,
            author_first_name VARCHAR(50),
            author_last_name  VARCHAR(100) NOT NULL,
            content TEXT NOT NULL,
            PRIMARY KEY (id)
        );
        ```

### Basic Statements
- CRUD (`CREATE`, `READ`, `UPDATE`, and `DELETE`)
- Comments: `#` or `--` or `/* */` (multiline)
- `SELECT`
    - `DISTINCT` eliminates duplicate values
    - `AS` aslias
    - `WHERE <conditional>` 
    - `GROUP_CONCAT(name SEPARATOR ', ')` to make a list, name is the column name

### Clauses

- **WHERE Advanced**
    - `BETWEEN` find specific ranges of values
    - `LIKE / NOT LIKE` option to find similarities, `%` is wildcard
        - `'%a'` a at the end, `'a%'` a at the beginning, `'%a%'` a anywhere
    - `IN ()` query only specific sets of values 
    - `(IS) NULL / NOT NULL`
    - can chain conditional statements with `AND` or `OR`
- **ORDER BY**
    - `ORDER BY col_name [ASC|DESC]` ASC is default 
    - can chain columns (e.g. `ORDER BY col1 DESC, col2 ASC`)
    
- **LIMIT**
    - `LIMIT count [OFFSET count]` OFFSET says which row to start at
    - **Q: In the exercises, multiple rows/employees have the same hire date. Do these come out in random order within each other? When I run Limit 5 and keep changing the offset, the order seems to change (question 4)**

### [Functions](https://dev.mysql.com/doc/refman/5.7/en/functions.html)

- [Numerical Functions](https://dev.mysql.com/doc/refman/5.7/en/numeric-functions.html)
    - `AVG()`,`MIN()`,`MAX()`, `VARIANCE`, `STDDEV()`

- [String Functions](https://dev.mysql.com/doc/refman/5.7/en/string-functions.html)
    - `CONCAT()`, `SUBSTR()`/`LEFT()`/`RIGHT()`, `UPPER()`, `LOWER()`, `REPLACE(str, substr, newstr)`

- [Date and Time Functions](https://dev.mysql.com/doc/refman/5.7/en/date-and-time-functions.html)
    - `NOW()/CURRENT_TIMESTAMP()`, `CURDATE()/CURTIME()`
    - `UNIX_TIMESTAMP(date)`, `DATEDIFF(NOW()/date_after, date_before)`
    - `YEAR()`, `MONTH()`, `WEEK()`

- Casting
    - MySQL often autocasts, but we can use CAST(data as data_type)


- [Math Functions](https://dev.mysql.com/doc/refman/5.7/en/mathematical-functions.html)

- [RegEx](https://dev.mysql.com/doc/refman/5.7/en/regexp.html#regexp-syntax)

### Group By

- `GROUP BY`
    - `SELECT DISTINCT first_name FROM employees;` same as
    
         `SELECT first_name FROM employees GROUP BY first_name;`
    - grouping by multiple columns will return all of the unique combinations 
    - [Aggregate Functions](https://dev.mysql.com/doc/refman/8.0/en/aggregate-functions.html)
        - `COUNT([DISTINCT] col/*)`
- `HAVING <conditional>`

### Relationships

- 1-to-1: e.g. one person to one id
- 1-to-M: e.g. one museum to many pieces of arts
- M-to-N: e.g. many people to many tasks


- **[Indexes](https://dev.mysql.com/doc/refman/8.0/en/mysql-indexes.html)**
    - PK's
    - `UNIQUE` key
        - can be multiple columns (e.g. UNIQUE(first_name, last_name))
    - FK's

- **Joins**
    - BASIC/`INNER JOIN` default
    - `LEFT`, returns all of left table
    - `RIGHT`, returns all of right table
    - `ON/USING`
        - ON allows us to use `AND` for conditions
    - can alias table
    - Associative/Joiner tables can relate two unrelated tables to each other

- **Subqueries**
- Scalar subqueries return a single value
    - Can use these subqueries in other statements like WHERE and HAVING
- Column subqueries
    
```
SELECT column_a, column_b, column_c
FROM table_a
WHERE column_a IN (
    SELECT column_a
    FROM table_b
);
```
- Row subqueries return single rows

```
SELECT first_name, last_name, birth_date
FROM employees
WHERE emp_no = (
    SELECT emp_no
    FROM employees
    WHERE emp_no = 101010
);
    
```

- Table Subqueries return a single table

### Case Statements

- `IF()` function
    - `SELECT IF(condition, value_1, value_2) AS new_column FROM table_a`
  
- `CASE` [col]
    - `WHEN` value1 / conditional `THEN` new_value1
    - `ELSE` new_value2
    - `END AS` new_col
    - adds new column to SELECT query  
- Pivot table

    e.g.
```
SELECT col_to_group
    COUNT(CASE WHEN col = val1 THEN col ELSE NULL END) AS 'val1',
    COUNT(CASE WHEN col = val2 THEN col ELSE NULL END) AS 'val2',
    COUNT(CASE WHEN col = val3 THEN col ELSE NULL END) AS 'val3'
FROM table(s)
GROUP BY col_to_group;
```

### Temporary Tables

- `CREATE TEMPORARY TABLE table_name([cols]);` (must have privilege)
- `CREATE TEMPORARY TABLE table_name AS (subquery)`

- `INSERT INTO table_name(col) VALUES (), ..., ();`
- `INSERT INTO table_name(col) VALUES (subquery);`

- `UPDATE table_name SET orig_vals = new_values/operations/altered_foreign_cols`
- `DELETE FROM table_name WHERE condition`

- `ALTER TABLE table_name DROP COLUMN col`
- `ALTER TABLE table_name ADD col`
    - update as shown above

- "It is common to separate databases and specify different permissions for different users. One technique is to set only one database up as a sandbox with full permissions for a given user or analyst"

    e.g.
```
It is common to separate databases and specify different permissions for different users. One technique is to set only one database up as a sandbox with full permissions for a given user or analyst
```

### More exercises

#### [Execution Order](https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2Forder-of-sql-queries--672232681872316724%2F&psig=AOvVaw1CtBQzMnjGPQMcH9eMmO0e&ust=1683220271712000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCJDkh6XS2f4CFQAAAAAdAAAAABAP![image-2.png](attachment:image-2.png))